.testimonial {
  padding: 30px 0px;
  background-color: #ffffff;
  text-align: center;
}
.testimonial-contant {
  background-color: #f1f1f1;
  width: 50%;
  padding: 40px;
  margin: auto;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.testimonial-img {
  width: 15%;
  display: inline-block;
  z-index: 4;
  margin-right: 10px;
}
.testimonial-img img {
  width: 100%;
  border-radius: 50%;
}
.testimonial-cap {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  text-align: start;
  z-index: 3;
}
.testimonial-cap h3,
.testimonial-cap h4 {
  margin-bottom: 10px;
}
.testimonial-cap p {
  margin-bottom: 15px;
}
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff305b;
  border-style: solid;
  border-width: 100px;
  content: "";
  z-index: -1;
  border-radius: 5px;
}
.testimonial-cap i,
.testimonial-cap h4 {
  color: #777;
  font-size: 15px;
  margin-right: 3px;
}
.review i {
  color: #f1c30d;
}
.slider {
  text-align: center;
  margin: 10px;
}
.slider-img {
  background-color: #ff305b;
  border-radius: 10px;
  padding: 4px 12px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.slider-dot {
  border: #ff305b solid 1px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}
